.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 60px 40px 60px;
	margin: 60px 0px 60px;
	border: 1px solid GREY;
    
	}

.col-md-5{
    margin-left:300px;
}
body 

{
}

.quicklinks2{

margin-left:65px;
}
.navbar-nav1{
   margin-left:50px;
   font-family:Gautami;
   font-size:20px;
   
}